pandas
numpy
regex
sentence-transformers
torch
transformers
umap-learn
faiss-cpu
scikit-learn
matplotlib
seaborn
streamlit
jupyter
ipykernel
tqdm
kagglehub[pandas-datasets]
wordcloud
Sastrawi
transformers[torch]
HfApi